#preload-k-s { background: url(../images/potential_kevin/kevin_standing_COMPRESSED.png) no-repeat -9999px -9999px;}
#preload-k-h { background: url(../images/potential_kevin/kevin_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-p-s { background: url(../images/potential_paul/paul_standing_v2_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-p-h { background: url(../images/potential_paul/paul_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-t-s { background: url(../images/potential_tony/tony_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-t-h { background: url(../images/potential_tony/tony_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cu-s { background: url(../images/potential_CU/cu_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cu-h { background: url(../images/potential_CU/cu_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-s-s { background: url(../images/potential_steve/steve_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-s-h { background: url(../images/potential_steve/steve_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cb-s { background: url(../images/potential_CB/cb_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cb-h { background: url(../images/potential_CB/cb_hover_COMPRESSED.png) no-repeat -9999px -9999px; }

html, body{
    height: 100%;
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    background-color: lightgray;
}


/*      TOP      */

.top {
    height: 100%;
    background-image: url(../images/bw.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.logo {
    width: 60%;
    max-width: 450px;
    padding-top: 50px;
    transition: 
}

.fadein {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 4s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*      MEMBERS      */



.members {
    background-color: lightgray;
    font-family: 'Sunflower', sans-serif;
}

.member {
    padding-bottom: 25px;
}

.membersrow {
    padding-top: 50px;
}

.title {
    font-size: 50px;
}

.membername {
    font-size: 30px;
}

.instrument {
    font-size: 15px;
}

.contain {
    width: 100%;
    max-width: 200px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.dummy {
    margin-top: 100%;
}

.element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.element:hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#paul {
    background-image: url(../images/potential_paul/paul_standing_v2_COMPRESSED.png);
    transition: 0.5s linear;
}

#paul:hover {
    background-image: url(../images/potential_paul/paul_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#kevin {
    background-image: url(../images/potential_kevin/kevin_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#kevin:hover {
    background-image: url(../images/potential_kevin/kevin_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#tony {
    background-image: url(../images/potential_tony/tony_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#tony:hover {
    background-image: url(../images/potential_tony/tony_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_u {
    background-image: url(../images/potential_CU/cu_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_u:hover {
    background-image: url(../images/potential_CU/cu_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#steve {
    background-image: url(../images/potential_steve/steve_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#steve:hover {
    background-image: url(../images/potential_steve/steve_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_b {
    background-image: url(../images/potential_CB/cb_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_b:hover {
    background-image: url(../images/potential_CB/cb_hover_COMPRESSED.png);
    transition: 0.5s linear;
}